<nav class="navbar navbar-expand-lg navbar-light bg-light;" style = "background-color: rgb(235, 216, 209);" >
    <a class="navbar-brand" style= "color: brown; font-size: xx-large; padding-bottom: .3em ;" href="{% url 'pinterest:index' %}"><b>Pinterest</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if index == 'Home' %}active{% endif %}">
                <a class="nav-link" style = "font-size: x-large; padding-top: .3em; " href="{% url 'pinterest:index' %}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item {% if my_post == 'My Posts' %}active{% endif %}">
                <a class="nav-link" style = " padding-top: 1em " href="{% url 'pinterest:my_post' %}">My Posts</a>
            </li>

            <li class="nav-item {% if create == 'New Post' %}active{% endif %}">
                <a class="nav-link disabled" style = " padding-top: 1em " href="{% url 'pinterest:create' %}">New Post</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" style = " padding-top: 1em " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{user}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item btn btn-success" style = " padding-top: 1em " href="{% url 'account:logout' %}">Sign Out</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item" >
                <a class="nav-link disabled" style = " padding-top: 1em;  " href="{% url 'account:login' %}">Sign in</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link disabled" style = " padding-top: 1em " href="{% url 'account:register' %}">Register</a>
            </li>
            {% endif %}
        </ul>
   
   
</div>
</nav>
